<h1>Train System Administration</h1>
<% if @trains.any?() %>
  <table>
    <% @trains.each() do |train| %>
      <tr>
        <td><a href="/trains/<%= train.id() %>/edit"><%= train.id() %></a></td><td><%= train.name() %></td>
      </tr>
    <% end %>
  </table>
  <% else %>
    <h3>There are no trains in the database; Add a train below</h3>
<% end %>

<a href="/trains/new">Add train</a>

<% if @cities.any? %>
  <table>
    <% @cities.each() do |city| %>
      <tr>
        <td><a href="/cities/<%= city.id() %>/edit"><%= city.name() %></a></td>
      </tr>
      <% end %>
  </table>
  <% else %>
    <h3>There are no cities in the database; Add a city below</h3>
<% end %>

<a href="/cities/new">Add city</a>
